.constainer{
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 100vh;
}
#clock {
    font-size: 75px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 10px solid black;
    border-radius: 20px;
    background-color:  white;

    }
    